<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles/style.css">
    <title>Api App</title>
</head>
<body>
       
    <main>
        <div id="container-main">
          <% if (content && content.length > 0 && weather) { %>
            
            <div id="bar">
              <h1><%= content[0].name %> (<%= content[0].country %>)</h1> 
            </div>

            <div id="main-info">
                  <h2><%= weather.weather[0].main %></h2>
                    <p style=" text-transform: capitalize;"><%= weather.weather[0].description %></p>  
            </div>

            <div id="temp">
              <h2><%= Math.floor(weather.main.temp - 273.15) %>°C</h2> 
                 <h2>Feels like: <%= Math.floor(weather.main.feels_like - 273.15) %>°C</h2>
                 <h2>Temp max: <%= Math.floor(weather.main.temp_max - 273.15) %>°C</h2>
                 <h2>Temp min: <%= Math.floor(weather.main.temp_min - 273.15) %>°C</h2>
            </div>

          <% } else { %>
                  <p>No results found.</p>
          <% } %> 
              
              <div id="image" >
                <img src="https://thumbs.dreamstime.com/b/closeup-delicate-wispy-texture-cotton-candy-pink-clouds-painted-across-velvet-evening-sky-316678652.jpg" alt="" >
              </div>
             
                <div id="week">
                <% if (forecast){ %>
                    <div class="days">
                     <% for (let i=0; i<forecast.length; i++) {%>
                        <% if(forecast[i].dayNow < 10){%>
                            <h2>0<%= forecast[i].dayNow  %>.<%= forecast[i].month %></h2> 
                        <% }else{%>
                            <h2><%= forecast[i].dayNow %>.<%= forecast[i].month %></h2> 
                         <% } %>
                        Max <%= forecast[i].max %>°C 
                        Min <%= forecast[i].min %>°C 
                        <% } %>    
                    </div>
                <% }else{  %>
                    <p>No results found.</p>
                 <% } %>
              </div>

            
              
        </div>
              
    </main>
</body>
</html>