<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles/style.css">
    <title>Api App</title>
</head>
<body>
       
    <main>
        <div id="container-main">
          <% if (content && content.length > 0 && weather) { %>
            
            <div id="bar">
              <h1><%= content[0].name %> (<%= content[0].country %>)</h1> 
            </div>

            <div id="main-info">
                  <h2><%= weather.weather[0].main %></h2>
                    <p style=" text-transform: capitalize;"><%= weather.weather[0].description %></p>  
            </div>

            <div id="temp">
              <h2><%= Math.floor(weather.main.temp - 273.15) %>°C</h2> 
                 <h2>Feels like: <%= Math.floor(weather.main.feels_like - 273.15) %>°C</h2>
                 <h2>Temp max: <%= Math.floor(weather.main.temp_max - 273.15) %>°C</h2>
                 <h2>Temp min: <%= Math.floor(weather.main.temp_min - 273.15) %>°C</h2>
            </div>

            <div id="image" >
                <% switch (weather.weather[0].icon) {
                  case ("01d"): %>
                    <style>main{background-image: url("/images/clear-sky.d.jpg");}</style>
                    <% break;
                    case ("01n"): %>
                    <style>main{background-image: url("/images/clear-sky.n.jpg");}</style>
                    <% break;

                  case ("02d"): %> 
                  <style>main{background-image: url("/images/few-clouds.d.jpg");}</style>
                    <% break;
                    case ("02n"): %>
                    <style>main{background-image: url("/images/few-clouds.n.jpg");}</style> 
                    <% break;
                  
                  case ("03d"): %>
                  <style>main{background-image: url("/images/scattered-clouds.d.jpg");}</style>
                    <% break;
                    case ("03n"): %>
                    <style>main{background-image: url("/images/scattered-clouds.n.jpg");}</style>
                    <% break;

                  case ("04d"): %>
                  <style>main{background-image: url("/images/broken--clouds.d.jpg");}</style>
                    <% break;
                    case ("04n"): %>
                    <style>main{background-image: url("/images/broken-clouds.n.jpg");}</style>
                    <% break;

                  case ("09d"): case("10d"): %>
                  <h1>RAIN</h1>
                  <style>main{background-image: url("/images/broken--clouds.d.jpg");}</style>
                    <% break;

                    case ("09n"): case("10n"): %>
                    <h1>RAIN</h1>
                    <style>main{background-image: url("/images/broken-clouds.n.jpg");}</style>
                    <% break;

                  case ("11d"): case("11n"): %>
                  <style>main{background-image: url("/images/thunderstorm.d.n.jpg");}</style>
                    <% break;

                  case ("13d"): %>
                  <style>main{background-image: url("/images/snow.d.jpg");}</style>
                    <% break;
                    case ("13n"): %>
                    <style>main{background-image: url("/images/snow.n.jpg");}</style>
                    <% break;

                  case ("50d"): case("50n"): %>
                  <style>main{background-image: url("/images/mist.jpg");}</style>
                    <% break;
                    
                  default:
                    break;
                } %>
              
            </div>
          <% } else { %>
                  <p>No results found.</p>
          <% } %> 
              
              
             
                <div id="week">
                <% if (forecast){ %>
                    <div class="days">
                     <% for (let i=0; i<forecast.length; i++) {%>
                        <% if(forecast[i].dayNow < 10){%>
                            <h2>0<%= forecast[i].dayNow  %>.<%= forecast[i].month %></h2> 
                        <% }else{%>
                            <h2><%= forecast[i].dayNow %>.<%= forecast[i].month %></h2> 
                         <% } %>
                        Max <%= forecast[i].max %>°C 
                        Min <%= forecast[i].min %>°C 
                        <% } %>    
                    </div>
                <% }else{  %>
                    <p>No results found.</p>
                 <% } %>
              </div>

            
              
        </div>
              
    </main>
</body>
</html>